#message {
    background-color: antiquewhite;
    font-size: 16px;
}
#field {
    width: 100%;
    height: 40px;
}
.fail:not(.active) {
    display: none;
}
.fail {
    font-size: 100px;
    color: red;
    text-align: center;
    display: block;
}
.gameover {
    display: none;
}
#player1 {
    color: blue;
}
#player2 {
    color: green;
}
#player1, #player2 {
    text-align: center;
    font-size: 25px;
}
.turn {
    display: none;
}